@import 'core/settings';
@import 'core/checkbox';

body {

	height: 100vh;
}

//FOTNS AND SIZE PENDING -check emojis
.page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  font-size: $size-title;
}

.title--main{
  margin: 0 15px;
  font-family: $font-title;
  padding: 0 18px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title--sub{
  padding: 15px;
  margin-bottom: 20px;
  font-family: $font-title;
  font-size: $size-subtitle;
}

.btn {
  display: flex;
  padding: 10px;
  font-size: $size-btn;
}

.btn--check, .btn--uncheck{
  @extend %btn-basics;
  &:hover{
    transition: all 0.1s ease-in;
    &:active{
      transform:translateY(4px);
      border-bottom-width: 2px;
      box-shadow: none;
    }
  }
}

.btn--check{
  background: $color-select;
  box-shadow: 0 5px 0px darken($color-select,2%);
  border-bottom: 2px solid darken($color-select,5%);

  &:hover{
    background: darken($color-select,7%);
    box-shadow: 0 4px 1px darken($color-select,7%);
    border-bottom: 2px solid darken($color-select,9%);
  }
}

.btn--uncheck{
  background: $color-unselect;
  box-shadow: 0 5px 0px darken($color-unselect,2%);
  border-bottom: 2px solid darken($color-unselect,5%);

  &:hover{
    background: darken($color-unselect,7%);
    box-shadow: 0 4px 1px darken($color-unselect,7%);
    border-bottom: 2px solid darken($color-unselect,9%);
  }
}

.container-lists {
  color: $color-text;
  font-size: $size-text;
}
.form{
  display: flex;
  justify-content: center;
  border: 2px solid $color-border;
  max-width: 750px;
  margin: 30px auto;
  padding: 15px;
}
.ingredients-list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-family: $font-text;

}

.ingredients-list__item{
  margin: 20px;
  padding-bottom: 25px;
  border-bottom: 1px dotted $color-select;
}

.ingredients-list__price{
  margin-left: 100px;
}

.all-input-wrapper {
  display: flex;
  justify-content: space-around;
}

.input-number-wrapper{
  margin: 15px;
  position: relative;
}

.list--input__number{
  position: absolute;
  left: 25px;
  width: 4.6em;
  border: 2px solid $color-border;
  border-radius: 3px;
}

.costs-cointainer{
  display: flex;

}

.costs-list{
  list-style: none;
  margin: auto;
  padding-bottom: 50px;
  font-size: $size-text;
}
